.audio-block {
	cursor: pointer;
}

.audio-play .icon.blue-1 {
	color: #bbdefb;
}

.audio-play .icon.blue-2 {
	color: #3dd9eb;
}

.audio-play .icon.blue-3 {
	color: #218bdf;
}

.audio-play .icon.blue-4 {
	color: #7d8dff;
}

.audio-play .icon.blue-5 {
	color: #60fff8;
}

.audio-play .icon.blue-6 {
	color: #caf1fc;
}

.audio-play .icon.yellow-1 {
	color: #ffd747;
}

.audio-play .icon.yellow-2 {
	color: #f59300;
}

.audio-play .icon.yellow-3 {
	color: #ffeb8d;
}

.audio-play .icon.green-1 {
	color: #34d156;
}

.audio-play .icon.green-2 {
	color: #17c975;
}

.audio-play .icon.green-3 {
	color: #56ebbb;
}

.audio-play .icon.grey-1 {
	color: #bdbdbd;
}

.audio-play .icon.grey-2 {
	color: #b6c1f1;
}

.audio-play .icon.orange-1 {
	color: #ff7346;
}

.audio-play .icon.red-1 {
	color: #ff4f4f;
}

.audio-play.disabled {
	pointer-events: none;
}

.audio-pause {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 1;
}

.audio-pause .icon {
	color: #fff;
	font-size: 4rem;
}

.audio-pause.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	border-top: 2px solid #ddd;
}

.footer .container {
	padding-right: 90px;
}

.footer .copyright {
	font-size: 1.4rem;
}

.sidebar .icon {
	cursor: pointer;
}

.light-off {
	filter: brightness(.2);
}

.light-off.sidebar {
	filter: brightness(.4);
}

#light-toggle.active {
	background-color: #fff;
}

#volume-control {
	position: relative;
}

.volume-setting {
	display: none;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 0;
	right: 90px;
	width: 200px;
	height: 40px;
    background-color: #333;
    padding: 0 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
}

.volume-setting input {
	background: none;
	flex: 1;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	-webkit-appearance: none;
	   -moz-appearance: none;
		 -o-appearance: none;
			appearance: none;
}

.volume-setting input::-webkit-slider-runnable-track {
	background-color: #fff;
	height: 6px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.volume-setting input[disabled]::-webkit-slider-runnable-track {
	background-color: transparent;
	border: 1px solid #fff;
	opacity: .4;
}

.volume-setting input::-moz-range-track {
	background-color: #fff;
	height: 6px;
	border: none;
	border-radius: 3px;
}

.volume-setting input::-ms-track {
	background: none;
	color: transparent;
	height: 6px;
	border: none;
}

.volume-setting input::-ms-fill-lower { 
	background-color: #fff;
	border-radius: 3px;
}

.volume-setting input::-ms-fill-upper { 
	background-color: #fff;
	border-radius: 3px;
}

.volume-setting input::-ms-tooltip { 
	display: none;
}

.volume-setting input::-moz-range-thumb {
	background: none;
	background-color: #bb90ff;
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 20px;
}

.volume-setting input:active::-moz-range-thumb {
 	outline: none;
}

.volume-setting input::-webkit-slider-thumb {
	background-color: #bb90ff;
	width: 18px;
	height: 18px;
	margin-top: -7px;
	border-radius: 100%;
	-webkit-appearance: none !important;
}

.volume-setting input[disabled]::-webkit-slider-thumb {
	background-color: transparent;
	border: 1px solid #fff;
}

.volume-setting input:active::-webkit-slider-thumb {
	outline: none;
}

.volume-setting input::-ms-thumb { 
	background-color: #bb90ff;
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 100%;
}

.volume-setting input:active::-ms-thumb {
	border: none;
}

.volume-setting output {
	width: 20px;
	color: #bb90ff;
	font-size: 1.4rem;
	margin-left: 10px;
}

.volume-setting.active {
	display: flex;
}

@media only screen and (min-width: 1366px) {

	.audio-block {
		background-color: #333;
		transition: .2s ease-in-out;
	}

	.audio-block:hover {
		background-color: #444;
	}

	.audio-block.active:hover {
		background-color: #333;
	}

}