.audio-block {
	cursor: pointer;
}

.audio-play.disabled {
	pointer-events: none;
}

.audio-pause {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 1;
}

.audio-pause .icon {
	color: #fff;
	font-size: 4rem;
}

.audio-pause.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	border-top: 2px solid #ddd;
}

.light-off {
	filter: brightness(.2);
}

.light-off.sidebar {
	filter: brightness(.4);
}

#light-toggle.active {
	background-color: #fff;
}

#volume-control {
	position: relative;
}

.volume-setting {
	display: none;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 0;
	right: 90px;
	width: 200px;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 30px;
}

.volume-setting input {
	background: none;
	width: 100%;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	   -moz-appearance: none;
		 -o-appearance: none;
			appearance: none;
}

.volume-setting input::-webkit-slider-runnable-track {
	background-color: #fff;
	height: 6px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.volume-setting input[disabled]::-webkit-slider-runnable-track {
	background-color: transparent;
	border: 1px solid #fff;
	opacity: .4;
}

.volume-setting input::-moz-range-track {
	background-color: #fff;
	height: 6px;
	border: none;
	border-radius: 3px;
}

.volume-setting input::-ms-track {
	background: none;
	color: transparent;
	height: 6px;
	border: none;
}

.volume-setting input::-ms-fill-lower { 
	background-color: #fff;
	border-radius: 3px;
}

.volume-setting input::-ms-fill-upper { 
	background-color: #fff;
	border-radius: 3px;
}

.volume-setting input::-ms-tooltip { 
	display: none;
}

.volume-setting input::-moz-range-thumb {
	background: none;
	background-color: #606670;
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 20px;
}

.volume-setting input:active::-moz-range-thumb {
 	outline: none;
}

.volume-setting input::-webkit-slider-thumb {
	background-color: #606670;
	width: 18px;
	height: 18px;
	margin-top: -7px;
	border-radius: 100%;
	-webkit-appearance: none !important;
}

.volume-setting input[disabled]::-webkit-slider-thumb {
	background-color: transparent;
	border: 1px solid #fff;
}

.volume-setting input:active::-webkit-slider-thumb {
	outline: none;
}

.volume-setting input::-ms-thumb { 
	background-color: #606670;
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 100%;
}

.volume-setting input:active::-ms-thumb {
	border: none;
}

.volume-setting output {
	color: #727272;
	font-size: 1.4rem;
	margin-left: 10px;
}

.volume-setting.active {
	display: flex;
}

@media only screen and (min-width: 1366px) {

	.audio-block {
		background-color: #333;
		transition: .2s ease-in-out;
	}

	.audio-block:hover {
		background-color: #444;
	}

	.audio-block.active:hover {
		background-color: #333;
	}

}