.audio-play.disabled {
	pointer-events: none;
}

.audio-pause {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 1;
}

.audio-pause .icon {
	color: #fff;
	font-size: 4rem;
}

.audio-pause.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	border-top: 2px solid #ddd;
}

.light-off {
	filter: brightness(.2);
}

.light-off.sidebar {
	filter: brightness(.6);
}

#light-toggle.active {
	background-color: #fff;
}

#volume-control {
	position: relative;
}

.volume-setting {
	display: none;
    justify-content: center;
    align-items: center;
	position: absolute;
	right: 90px;
	width: 200px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

.volume-setting input {
	width: 100%;
}

.volume-setting.active {
	display: flex;
}